﻿<table id="newrow" style="display:none;">
    <tr>
        <td>
            <input type="hidden" name="Telephones.Index" value="%">
            <input class="form-control phone-input" data-val="true" data-val-required="The Telephones field is required." name="Telephones[#].PhoneNumber" type="text" value="">
            <span class="field-validation-valid" data-valmsg-for="Telephones[#].PhoneNumber" data-valmsg-replace="true"></span>
        </td>
        <td>
            <button type="button" class="btn btn-danger delete">Delete</button>
        </td>
    </tr>
</table>

