﻿@model PersonViewModel

@{
    ViewData["Title"] = "Create";
}
<br />
<h2>Criar Pessoa</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Document" class="control-label"></label>
                <input asp-for="Document" class="form-control" />
                <span asp-validation-for="Document" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZipCode" class="control-label"></label>
                <input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Classification" class="control-label"></label>
                <select asp-for="Classification" class="form-control" asp-items="Html.GetEnumSelectList<ClassificationTypeViewModel>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Classification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control" asp-items="Html.GetEnumSelectList<PersonTypeViewModel>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>

            <table id="telephones">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.Telephones.FirstOrDefault().PhoneNumber)</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Telephones.Count; i++)
                    {
                        <tr>
                            <td>
                                <input type="hidden" name="Telephones.Index" value="@i">
                                @Html.TextBoxFor(m => m.Telephones[i].PhoneNumber, new { @class = "form-control phone-input" })
                                @Html.ValidationMessageFor(m => m.Telephones[i].PhoneNumber)
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger delete">Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="form-group">
                <button type="button" id="add" class="btn btn-success">Add Phone</button>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retornar para Lista</a>
</div>


<partial name="_AddPhoneNumber"  />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
