﻿<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/lib/jquery.inputmask/inputmask/inputmask.min.js"></script>


<script src="~/lib/jquery.inputmask/inputmask/inputmask.min.js"></script>
<script src="~/lib/jquery.inputmask/inputmask/jquery.inputmask.js"></script>
<script src="~/lib/jquery.inputmask/inputmask/inputmask.extensions.js"></script>
<script src="~/lib/jquery.inputmask/inputmask/inputmask.date.extensions.js"></script>
<script src="~/lib/jquery.inputmask/inputmask/inputmask.numeric.extensions.js"></script>

<script>
    $(document).ready(function () {

        $("#ZipCode").inputmask("mask", { "mask": "99999-999" });

        $(".phone-input").inputmask("mask", { "mask": "(99)99999-9999" });

    });

     var form = $('form');
        var table = $('#telephones tbody');
        var newrow = $('#newrow');

        $('#add').click(function () {
            var index = (new Date()).getTime();
            var clone = newrow.find('tr').clone();
            clone.html($(clone).html().replace(/\[#\]/g, '[' + index + ']'));
            clone.html($(clone).html().replace(/"%"/g, '"' + index + '"'));
            table.append(clone);
            form.data('validator', null);
            $.validator.unobtrusive.parse(form)

             $(".phone-input").inputmask("mask", { "mask": "(99)99999-9999" });
        });

        $('#telephones').on('click', '.delete', function () {
            $(this).closest('tr').remove();
        });
</script>